<% layout('layouts/boilerplate') %>
<div class="mx-auto w-75 text-center text-dark">
  <h3 class="">About</h3>

  <p class="lead">
    This WebApp is designed to provide an intuitive and easy-to-use interface
    for campers to discover and book their perfect camping destination.
    <br />
    <br />
    To create this app, we used a variety of technologies, including HTML,
    Bootstrap CSS, and Vanilla JS to design and style the user interface. These
    technologies provide a modern and responsive design that ensures the app
    looks great and works well across all devices.
    <br />
    <br />
    I also used Node.js and Express to build the app's backend, which provides
    powerful features such as authentication, Cookies and Sessions for state
    management, RESTful API's. I integrated MongoDB as the database to store
    user and campground information. This allows users to leave comments and
    ratings on each campground, and also view an interactive map of the
    campsites and their locations.
    <br />
    <br />
    We took great care in designing the app to be responsive, so it looks great
    on all devices, including desktops, tablets, and smartphones. This ensures
    that users can easily access the app and all of its features, no matter
    where they are or what device they're using.
    <br />
  </p>
</div>
