<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-center">New Campground</h5>
                    <form action="/campgrounds" method="POST" enctype="multipart/form-data" class="validated-form"
                        novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="title">Title</label>
                            <input class="form-control" type="text" id="title" name="campground[title]" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="location">Location</label>
                            <input class="form-control" type="text" id="location" name="campground[location]" required>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <!-- <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="campground[image]" required>
                    <div class="valid-feedback">Looks good!</div>
                </div> -->
                        <div class="mb-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" type="text" id="description" name="campground[description]"
                                required></textarea>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="price">Campground Price</label>
                            <div class="input-group">
                                <span class="input-group-text" id="price">$</span>
                                <input type="number" class="form-control" min="0" id="price" name="campground[price]"
                                    required>
                                <span class="input-group-text " id="price">.00</span>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Upload images:</label>
                                <input class="form-control" type="file" id="formFileMultiple" name="image" required
                                    multiple>
                            </div>
                        </div>
                        <div class="d-grid mb-3">
                            <button class="btn btn-success">Add Campground</button>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="/campgrounds">Back to campgrounds</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>